body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://cdn.shopify.com/s/files/1/0653/6595/products/codovatrade.png?v=1584748230");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Mulish';
  letter-spacing: 2px;
  background-attachment: fixed;

}

main{
  width: 100%
}

h1 {
  text-align: center;
  font-weight: 600;
  margin-top: 10vh;
  font-size: 3.5rem;
  letter-spacing: 3px;
  line-height: 1.5;
  font-family: 'Open Sans';
  font-weight: 800;
  color: white;
}

span {
  /* color: #FF908B; */
  color: #E07D7A;
  text-transform: uppercase;
}

h2{
  color: white;
  text-align: center;
  background-color:
  rgba(225, 211, 209, 0.9);
  padding: 20px;
  font-weight: lighter;
}

select {
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Mulish';
  border: 0;
  font-size: 1em;
  font-weight: bold;
  text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
   text-overflow: '';
   width: auto;
   background-color: transparent;
   padding: 5px;
   letter-spacing: 2px;
   color: white;
}

select:hover {
    cursor: pointer;
}

/* p{
  letter-spacing: 4px;
} */

#name{
  font-size: 1.5em;
  color: black;
  text-transform: none;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* background-color: rgba(130, 203, 237, 0.7); */
  /* background-color: rgba(0, 173, 98, 0.8); */
  background-color: rgba(225, 211, 209, 0.8);
  padding: 20px;
  width: 100%;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.card {
  font-weight: 20;
  background-color: white;
  width: 500px;
  margin: 10px;
  padding: 4px;
  line-height: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

li {
  font-size: 1em;
}

img {
  width: 100%;
  height: 330px;
  transition: transform .2s;
  cursor: pointer;
}
img:active{
  transform: scale(1.5);
  z-index:999;
}

#narrow{
  color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 1.4rem;
}
button {
  font-size: 1rem;
  font-family: inherit;
  background-color: #E07D7A;
  border: 2px solid WHITE;
  color: white;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

button:hover {
  background: transparent;
  cursor: pointer;
}

#directions{
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
#directions:hover{
  background: #DFD3D1;
  color: white;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  cursor: pointer;
}

#modal-form {
  text-align: center;
}
#close{
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 25px;
  right: 20px;
  top: 10px;
}

#modal-form>input{
  padding: 8px;
  margin: 2px;
  width: auto;
}

#modal {
  background-color: #000000B0;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#modal-text {
  background-color: white;
  font-family: 'Mulish';
  border: 18px solid #E07D7A;
  height: auto;
  width: 60%;
  margin: 100px auto;
  padding: 2%;
}
#modal-img {
  border: 3px solid grey;
  height: auto;
  width: 60%;
  margin: 150px auto;
  padding: 2%;
}
.hello {
  text-align: center;
  overflow: auto;
}
.hello>a{
  font-size: 1.2em;
  margin-top: 5px;
}
.hello>h2 {
  background-color: white;
  color: black;
}
.hello>button {
  color: black;
  float: right;
  font-size: 10px;
}
.hello>button:hover {
  background-color: #E07D7A;
}



@media (max-width: 600px) {
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  body{
    background-attachment: fixed;
  }
  .card {
  width: 100%;
  padding: 2px;
  text-align: center;
  }
  p {
    font-size: 28px;
  }
  img{
    height: auto;
  }
  #narrow{
    flex-direction: column;
  }
  .row{
    width: 100%;
  }
  select{
    width: 230px;
    text-indent: 29px;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    padding: 5px;
    margin: 0 auto;
    font-size: 22px;
  }
  button{
    margin-top: 20px;
  }
  h1{
    font-size: 48px;
  }
  #modal-text {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 83%;
    margin: 5;
    border: 10px solid #E07D7A;
    padding: 2%;
  }

  #directions {
    /* margin-top: 0.2; */
  }
  .hello {
    text-align: center;
  }
  .hello>p{
    font-size: 18px;
  }
  .hello>a{
    font-size: 1.2em;
    margin-top: 5px;
  }

}
