body {
  background-image: url("https://cdn.shopify.com/s/files/1/0653/6595/products/codovatrade.png?v=1584748230");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Source Code Pro', monospace;
  font-weight: lighter;

}

h1, h2 {
  font-family: 'Source Code Pro', monospace;
  font-weight: lighter;
  text-align: center;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.card {
  background-color: white;
  width: 500px;
  margin: 10px;
  padding: 20px;
  line-height: 30px;
}

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 6px;
  cursor: pointer;
}
button:hover {
  background: #0053ba;
}

ul {
  list-style: none;
}

li {
  font-size: 1em;
  font-weight: bold;
}

img {
  width: 100%;
  height: 320px;
  /* box-shadow: 2px 2px 8px #888888; */
}

#narrow{
  text-align: center;

}
#narrow>input{
  line-height: 30px;
  padding: 5px;
}

#modal-form {
  text-align: center;
}

#modal-form>input{
  padding: 8px;
  margin: 2px;
  width: 40%;
}

#modal {
  background-color: #000000B0;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#modal-text {
  background-image: url("https://cdn.shopify.com/s/files/1/0653/6595/products/rand1.png?v=1528258819");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid grey;
  height: auto;
  width: 60%;
  margin: 150px auto;
  padding: 2%;
}
